.spacer {
    flex: 1;
  }

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #2F2F2F;
    color: white;
    font-weight: 600;
    justify-content: center;
}