select {
    padding: 13px;
    background-color: #313131;
    color: #FFFFFF;
    border: none;
    font-family: "Flexo-Light", arial, sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 250px;
    background-image: url('/assets/images/pokeball-white.png');
    background-repeat: no-repeat;
    background-position: 6% 50%;
    background-size: 24px;
    text-indent: 40px;
}

select > option {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    height: 100px !important;
    font-family: "Flexo-Light", arial, sans-serif !important;
    font-size: 17px;
    padding: 20px !important;
    background-color: #616161 !important;
}

@media (max-width: 767px) {
    select {
        width: 100%;
        text-align: center;
    }
}